.cover {
  margin: 92px 48px;
  height: 62.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  max-height: 740px;
  background-position: center;
  background-image: url("../../images/do_boikala_na_sobakah.png");
  display: flex;
  flex-direction: column;
  position: relative;
}

.cover::before {
  background-color: #2A2C2F;
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
    background-size: cover;
  }
}