.cover {
  margin-top: 92px;
  width: 100vw;
  height: 62.5vw;
  background-size: 1184px 740px;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  max-height: 740px;
  background-position: center;
  background-image: url("../../images/do_boikala_na_sobakah.png");
  display: flex;
  flex-direction: column;
  position: relative;
}

.cover::before {
  background-color: #2A2C2F;
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover:hover::before {
  opacity: 0.8;
}


@media screen and (max-width: 1024px) {
  .cover {
    background-size: 100vw 62.5vw;
    left: -48px;
  }

}

@media screen and (max-width: 768px) {
  .cover {
    background-size: 100vw 62.5vw;
    left: -24px;
  }

}@media screen and (max-width: 320px) {
  .cover {
    background-size: 100vw 62.5vw;
    left: -16px;
  }

}